body{
    background-color: #202020;
}

.buttons-container{
    /* location properties */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 70vh;
}

.button{
    /* size properties */
    width: 100%;
    height: 30%;

    background-color: transparent;

    margin: 10px;
}



.button .inside-button{
    /* location properties */
    z-index: 1;

    /* size properties */
    width: 100%;
    height: 100%;

    /* button properties */
    border: 0px solid rgba(0, 0, 0, .4); /* border black with 40% opacity */
    transition: border-width 0.1s ease-in; /* border-width transition */
    border-radius: 15px;
    
    /* text properties */
    font-size: 8em;
    color: #1e1e1e;
    font-weight: bolder;
}
.button .inside-button:hover{
    border-width: 5px; /* border-width transition */
}





.button .inside-button.static{
    background: linear-gradient(60deg, #d2d2d2 0%, #d2d2d2 24%, #d2d2d2 65%, #d2d2d2 100%); /* utiliza este gradiente por defecto para que no haga un corte con un background verde durante la transicion */
    transition: background 0.2s easy-in; /* border-width transition */
}
.button .inside-button.static:hover{
    background: linear-gradient(60deg, rgba(255,198,255,1) 0%, rgba(160,196,255,1) 24%, rgba(202,255,191,1) 65%, rgba(255,214,165,1) 100%);
}





.button .inside-button.animated{
    background: linear-gradient(60deg, #d2d2d2 0%, #d2d2d2 24%, #d2d2d2 65%, #d2d2d2 100%); /* utiliza este gradiente por defecto para que no haga un corte con un background verde durante la transicion */
    transition: background 0.5s easy-in; /* border-width transition */
}
.button .inside-button.animated:hover{
    background: linear-gradient(60deg, rgba(255,198,255,1) 0%, rgba(160,196,255,1) 24%, rgba(202,255,191,1) 65%, rgba(255,214,165,1) 100%);

    animation-name: background-animated;
    animation-duration: 10s; /* si se disminuye va a parecer discoteca, se aumenta para un movimiento mas fluido */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
    /*animation-fill-mode: forwards;*/
}
@keyframes background-animated {
    from {background: linear-gradient(60deg, rgba(255,198,255,1) 0%, rgba(160,196,255,1) 24%, rgba(202,255,191,1) 65%, rgba(255,214,165,1) 100%);}
    5%   {background: linear-gradient(60deg, rgba(255,214,165,1) 0%, rgba(255,198,255,1) 24%, rgba(160,196,255,1) 65%, rgba(202,255,191,1) 100%);}
    10%  {background: linear-gradient(60deg, rgba(202,255,191,1) 0%, rgba(255,214,165,1) 24%, rgba(255,198,255,1) 65%, rgba(160,196,255,1) 100%);}
    15%  {background: linear-gradient(60deg, rgba(160,196,255,1) 0%, rgba(202,255,191,1) 24%, rgba(255,214,165,1) 65%, rgba(255,198,255,1) 100%);}
    20%  {background: linear-gradient(60deg, rgba(255,198,255,1) 0%, rgba(160,196,255,1) 24%, rgba(202,255,191,1) 65%, rgba(255,214,165,1) 100%);}
    25%  {background: linear-gradient(60deg, rgba(255,214,165,1) 0%, rgba(255,198,255,1) 24%, rgba(160,196,255,1) 65%, rgba(202,255,191,1) 100%);}
    30%  {background: linear-gradient(60deg, rgba(202,255,191,1) 0%, rgba(255,214,165,1) 24%, rgba(255,198,255,1) 65%, rgba(160,196,255,1) 100%);}
    35%  {background: linear-gradient(60deg, rgba(160,196,255,1) 0%, rgba(202,255,191,1) 24%, rgba(255,214,165,1) 65%, rgba(255,198,255,1) 100%);}
    40%  {background: linear-gradient(60deg, rgba(255,198,255,1) 0%, rgba(160,196,255,1) 24%, rgba(202,255,191,1) 65%, rgba(255,214,165,1) 100%);}
    45%  {background: linear-gradient(60deg, rgba(255,214,165,1) 0%, rgba(255,198,255,1) 24%, rgba(160,196,255,1) 65%, rgba(202,255,191,1) 100%);}
    50%  {background: linear-gradient(60deg, rgba(202,255,191,1) 0%, rgba(255,214,165,1) 24%, rgba(255,198,255,1) 65%, rgba(160,196,255,1) 100%);}
    55%  {background: linear-gradient(60deg, rgba(160,196,255,1) 0%, rgba(202,255,191,1) 24%, rgba(255,214,165,1) 65%, rgba(255,198,255,1) 100%);}
    60%  {background: linear-gradient(60deg, rgba(255,198,255,1) 0%, rgba(160,196,255,1) 24%, rgba(202,255,191,1) 65%, rgba(255,214,165,1) 100%);}
    65%  {background: linear-gradient(60deg, rgba(255,214,165,1) 0%, rgba(255,198,255,1) 24%, rgba(160,196,255,1) 65%, rgba(202,255,191,1) 100%);}
    70%  {background: linear-gradient(60deg, rgba(202,255,191,1) 0%, rgba(255,214,165,1) 24%, rgba(255,198,255,1) 65%, rgba(160,196,255,1) 100%);}
    75%  {background: linear-gradient(60deg, rgba(160,196,255,1) 0%, rgba(202,255,191,1) 24%, rgba(255,214,165,1) 65%, rgba(255,198,255,1) 100%);}
    80%  {background: linear-gradient(60deg, rgba(255,198,255,1) 0%, rgba(160,196,255,1) 24%, rgba(202,255,191,1) 65%, rgba(255,214,165,1) 100%);}
    85%  {background: linear-gradient(60deg, rgba(255,214,165,1) 0%, rgba(255,198,255,1) 24%, rgba(160,196,255,1) 65%, rgba(202,255,191,1) 100%);}
    90%  {background: linear-gradient(60deg, rgba(202,255,191,1) 0%, rgba(255,214,165,1) 24%, rgba(255,198,255,1) 65%, rgba(160,196,255,1) 100%);}
    95%  {background: linear-gradient(60deg, rgba(160,196,255,1) 0%, rgba(202,255,191,1) 24%, rgba(255,214,165,1) 65%, rgba(255,198,255,1) 100%);}
    to   {background: linear-gradient(60deg, rgba(255,198,255,1) 0%, rgba(160,196,255,1) 24%, rgba(202,255,191,1) 65%, rgba(255,214,165,1) 100%);}
}



