.dark .noahcuadradocomhomepage1-noahcuadradocomhomepage1 {
  background-color: rgba(61, 61, 61, 1);
}
.dark .noahcuadradocomhomepage1-topbar {
  background-color: rgba(79, 79, 79, 1);
}
.dark .noahcuadradocomhomepage1-text {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text01 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text01:hover {
  color: white;
  
}
.dark .noahcuadradocomhomepage1-text03 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text03:hover {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text04 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text04:hover {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-mygames {
  background-color: transparent;
}
.dark .noahcuadradocomhomepage1-text06 {
  color: rgba(255, 255, 255, 1);
}
.inter {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text07 {
  font-weight: 700;
}
.dark .noahcuadradocomhomepage1-group9 {
  background-color: transparent;
}
.dark .noahcuadradocomhomepage1-link {
  display: contents;
}
.dark .noahcuadradocomhomepage1-frame10 {
  background-color: rgba(79, 79, 79, 1);
}
.dark .noahcuadradocomhomepage1-text09 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text14 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-link01 {
  display: contents;
}
.dark .noahcuadradocomhomepage1-frame11 {
  background-color: rgba(79, 79, 79, 1);
}
.dark .noahcuadradocomhomepage1-text19 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text21 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-frame12 {
  background-color: rgba(79, 79, 79, 1);
}
.dark .noahcuadradocomhomepage1-group68 {
  background-color: rgba(133, 133, 133, 1);
}
.dark .noahcuadradocomhomepage1-text23 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text25 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text27 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-mydesigns {
  background-color: transparent;
}
.dark .noahcuadradocomhomepage1-frame71 {
  top: 0px;
  left: 0px;
  width: 513px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.dark .noahcuadradocomhomepage1-text32 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-frame101 {
  background-color: rgba(79, 79, 79, 1);
}
.dark .noahcuadradocomhomepage1-text35 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-frame13 {
  background-color: rgba(79, 79, 79, 1);
}
.dark .noahcuadradocomhomepage1-text37 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-frame121 {
  background-color: rgba(79, 79, 79, 1);
}
.dark .noahcuadradocomhomepage1-text40 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-footer {
  background-color: rgba(79, 79, 79, 1);
}
.dark .noahcuadradocomhomepage1-text41 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text43 {
  color: rgba(204, 204, 204, 1);
}
.dark .noahcuadradocomhomepage1-text45 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text45:hover {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text47 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text47:hover {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text49 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text49:hover {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text51 {
  color: rgba(204, 204, 204, 1);
}
.dark .noahcuadradocomhomepage1-group69 {
  background-color: transparent;
}
.dark .noahcuadradocomhomepage1-text53 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text55 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text57 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text59 {
  color: rgba(255, 255, 255, 1);
}
.dark .noahcuadradocomhomepage1-text61 {
  color: rgba(255, 255, 255, 1);
}

.dark .imcontainer1, .dark .imcontainer2{
  position:absolute;
  top: 0px;
  width: 550px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

}

.dark .imcontainer1 .UX-Designer1 {
  color: #fff;
}
.dark .imcontainer2 .UX-Designer2 {
  color: #fff;
}
.dark .test{
  color: #fff;
}
.dark .Im-a {
  color: #fff;
}
.dark .finaltext{
  color: #fff;
}
.dark .finaltext2{
  color: #fff;
}
