.magic-button {
  /* magic-button properties */
  border: 0px solid; /* border black with 40% opacity */
  transition: border-width 0.1s ease-in; /* border-width transition */
  border-radius: 8px;
  border-color: white;
}
.magic-button:hover {
  border-width: 5px; /* border-width transition */
}

.magic-button.static {
  background: linear-gradient(
    60deg,
    #d2d2d2 0%,
    #d2d2d2 24%,
    #d2d2d2 65%,
    #d2d2d2 100%
  ); /* utiliza este gradiente por defecto para que no haga un corte con un background verde durante la transicion */
  transition: background 0.2s easy-in; /* border-width transition */
}
.magic-button.static:hover {
  background: linear-gradient(
    60deg,
    rgba(255, 198, 255, 1) 0%,
    rgba(160, 196, 255, 1) 24%,
    rgba(202, 255, 191, 1) 65%,
    rgba(255, 214, 165, 1) 100%
  );
}

.magic-button.animated {
  background: linear-gradient(
    60deg,
    #d2d2d2 0%,
    #d2d2d2 24%,
    #d2d2d2 65%,
    #d2d2d2 100%
  ); /* utiliza este gradiente por defecto para que no haga un corte con un background verde durante la transicion */
  transition: background 0.5s easy-in; /* border-width transition */
}
.magic-button.animated:hover {
  background: linear-gradient(
    60deg,
    rgba(255, 198, 255, 1) 0%,
    rgba(160, 196, 255, 1) 24%,
    rgba(202, 255, 191, 1) 65%,
    rgba(255, 214, 165, 1) 100%
  );
  animation: gradient 4s ease infinite;
  background-size: 600% 600%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
